*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(247, 202, 90);
    color: rgb(246, 255, 204);
    display:flex ;
    justify-content:space-around;
}

img{
    width: 10%;
    width: ;
    padding:24px ;
    align-items: center;
    background-image:linear-gradientrgb(rgb(247, 207, 29),rgb(255, 213, 75)) 
    
}
