*{
    margin: 0;
    padding: 0;
}

header {
    display:flex ;
    justify-content:space-around;
}
.imagen1{
    width: 10%;
    padding:24px ;
    align-items: center;
}
.restaurante{
    background: linear-gradient(rgb(255, 224, 46),rgb(255, 231, 122) );
}
   {
 background: -moz-radial-gradient(255, 224, 46),(255, 224, 46);
}
