*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(247, 202, 90);
    color: rgb(246, 255, 204);
    display:flex ;
    justify-content:space-around;
}
.imagen1{
    width: 10%;
    padding:24px ;
    align-items: center;
}
.imagen2{
    width: 10;

    background-image: linear-gradient(rgb(247, 199, 69),rgb(255, 227, 102) );
}
